<!DOCTYPE html>
<html>
  <head>
    <title>Backbone App</title>
    <script type="text/javascript">
      window.eventDispatcher = _.extend({}, Backbone.Events)
      BackboneApi.initialize()
    </script>
  </head>
  <body>
    <h1>Posts</h1>
    <table id="postsCollection">
      <thead>
        <tr>
          <td>Title</td>
          <td>Description</td>
          <td>Edit</td>
          <td>Delete</td>
        </tr>        
      </thead>
    </table>
    <a href="#" class="add">Add Post</a>
    <div id="addPost"></div>
    <div id="editPost"></div>
  </body>
</html>
