<!DOCTYPE html>
<html>
  <head>
    <title>Backbone App</title>
    <script type="text/javascript">
      window.eventDispatcher = _.extend({}, Backbone.Events)
      BackboneApi.initialize()
    </script>
  </head>
  <body>
    <div id="posts"></div>
  </body>
</html>
